.content {
    width: 960px;
    height: auto;
    margin: 0 auto;
    .ad {
        width: 960px;
        margin: 30px 0;
        img {
            width: 100%;
        }
    }
    .scroll-news {
        margin-bottom: 20px;
        width: 960px;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        .news {
            width: 380px;
            transition: all 0.5s;
            b {
                display: inline-block;
                color: #fff;
                background-color: red;
                width: 65px;
                height: 20px;
                padding-left: 10px;
            }
            a {
                padding-left: 5px;
                color: blue;
            }
        }
    }
    .focus {
        height: 500px;
        padding-top: 40px;
        .left {
            float: left;
            z-index: 100;
            border-bottom: 2px solid #5c5d5e;
            .subtitle {
                width: 140px;
                height: 40px;
                padding: 7px 20px;
                background-color: #5c5d5e;
                font-weight: 700 !important;
                text-align: right;
                span {
                    font-size: 18px;
                    line-height: 20px;
                    color: #fff;
                    cursor: pointer;
                }
                .small {
                    font-size: 14px;
                    line-height: 20px;
                    color: #aaa;
                }
            }
            .menu-gallery {
                padding: 0 0 15px 24px;
                li,
                .m {
                    cursor: pointer;
                    padding: 15px 20px 10px 0;
                    border-bottom: 1px solid #dee0e3;
                    border-right: 1px solid #dee0e3;
                    height: 58px;
                    width: 135px;
                    color: #7e7e7e;
                    h3 {
                        font-size: 16px;
                        display: block;
                        text-align: right;
                    }
                    span {
                        font-size: 12px;
                        display: block;
                        text-align: right;
                    }
                    .triangle {
                        z-index: 150;
                    }
                }
                .active {
                    .m;
                    color: #d23133;
                    border-right: 1px solid #d23133;
                    .triangle {
                        width: 15px;
                        height: 15px;
                        border-left: solid 1px #d23133;
                        border-bottom: solid 1px #d23133;
                        background-color: #fff;
                        position: relative;
                        left: 147px;
                        bottom: 19px;
                        transform: rotate(45deg);
                    }
                }

            }
        }
        .right {
            float: right;
            z-index: 20;
            border-bottom: 2px solid #5c5d5e;
            .focus-slider-picture {
                height: 416px;
                width: 740px;
                overflow: hidden;
                ul {
                    padding-left: 0px;
                    transition: margin 0.5s;
                    width: 6680px;
                    li {
                        display: inline-block;
                        float: left;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
            .focus-slider-page {
                width: 740px;
                margin: 0;
                ul {
                    transition: margin 0.5s;
                    margin: 0 auto;
                    padding-left: 0;
                    li,
                    .showli {
                        width: 78px;
                        height: 44px;
                        display: inline-block;
                        margin: 10px 10px 0 0;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .show {
                        .showli;
                        border: 1px solid red;
                    }
                }
            }
        }
    }
    .bbs {
        height: 350px;
        padding-top: 40px;
        .left {
            float: left;
            width: 195px;
            border-bottom: 2px solid #5c5d5e;
            .subtitle {
                .focus>.left>.subtitle;
            }
            .menu-community {
                margin-top: 25px;
                li,
                .community-li-copy {
                    cursor: pointer;
                    background-color: #eee;
                    height: 22px;
                    width: 160px;
                    padding: 8px 20px 8px 0;
                    text-align: right;
                    font-size: 15px;
                    margin-bottom: 2px;
                    color: #444;
                    &:hover {
                        background-color: #ddd;
                    }
                }
                .active {
                    .community-li-copy;
                    background-color: #ddd;
                }
            }

        }
        .right {
            float: right;
            width: 760px;
            border-bottom: 2px solid #5c5d5e;
            padding-bottom: 20px;
            .bbs-picture {
                width: 760px;
                .bbs-picture-img {
                    display: inline-block;
                    overflow: hidden;
                    cursor: pointer;
                    height: 200px;
                    width: auto;
                    margin-right: 7px;
                    padding-left: 10px;
                    img {
                        width: 360px;
                    }
                    .bbs-picture-sub {
                        position: relative;
                        top: -80px;
                        background: rgba(0, 0, 0, .5);
                        border-top: 1px solid #000;
                        font-size: 12px;
                        text-align: left;
                        padding-left: 65px;
                        padding-bottom: 10px;
                        color: #fff;
                        z-index: 150;
                        transition: top 0.3s;
                        &:hover {
                            top: -110px;
                        }
                    }
                }

            }
            .bbs-li {
                margin-top: 10px;
                dl {
                    width: 360px;
                    height: 24px;
                    background-color: #eee;
                    float: left;
                    color: #5f646a;
                    margin: 0 7px 0 11px;
                    line-height: 24px;
                    dt {
                        float: left;
                        width: 226px;
                        padding-left: 10px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    dd {
                        float: left;
                        color: #000;
                        a {
                            color: #5f646a;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

    }
    .landscape {
        height: 1100px;
        margin: 60px 0 40px 0;
        .left {
            float: left;
            width: 180px;
            .left1 {
                border-bottom: 2px solid #676869;
                .subtitle {
                    .focus>.left>.subtitle;
                }
                ul {
                    margin-top: 25px;
                    text-align: right;
                    li {
                        display: inline-block;
                        width: 65px;
                        height: 21px;
                        margin: 4px 5px;
                        padding: 2px 3px 0 0;
                        color: #444;
                        border-right: 4px solid #e6e6e6;
                        background-color: #e6e6e6;
                        cursor: pointer;
                        font-size: 12px;
                        text-align: right;
                        &:hover {
                            border-right-color: #00CED1;
                            background-color: #ddd;
                            color: #000;

                        }
                    }
                }
            }
            .left2 {
                margin-top: 40px;
                .focus>.left>.subtitle;
                ul {
                    margin-top: 40px;
                    li {
                        margin: 4px 5px 4px 5px;
                        padding: 10px;
                        width: 135px;
                        height: 30px;
                        font-weight: lighter;
                        color: #444;
                        text-align: left;
                        cursor: pointer;
                    }
                    .double {
                        background-color: #dcdcdc;
                        &:hover {
                            background-color: #ddd;
                            color: #000;
                        }
                    }
                    .single {
                        background-color: #e6e6e6;
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
        .right {
            float: right;
            width: 760px;
            margin-left: 20px;
            .landscape-right-top {
                .landscape-right-top-left {
                    display: inline-block;
                    width: 360px;
                    .landscape-p {
                        display: inline-block;
                        overflow: hidden;
                        width: 360px;
                        height: 205px;
                        margin: 0 20px 10px 0;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        div {
                            .bbs>.right>.bbs-picture>.bbs-picture-img>.bbs-picture-sub;
                            top: -40px;
                            padding-left: 130px;
                            &:hover {
                                top: -80px;
                            }
                        }
                    }
                }
                .landscape-right-top-right {
                    .landscape-right-top-left;
                }
            }
            .landscape-right-bottom {
                .landscape_p {
                    overflow: hidden;
                    width: 740px;
                    height: 280px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    div {
                        .bbs>.right>.bbs-picture>.bbs-picture-img>.bbs-picture-sub;
                        top: -40px;
                        padding-left: 130px;
                        &:hover {
                            top: -80px;
                        }
                    }
                }
            }
        }
    }

}