.landscape{
	.left{
		display:float;
		left:0;
		width:180px;
		.left1{
			.subtitle{
				width: 140px;
				height:40px;
				padding:7px 20px;
				background-color:#5c5d5e;
				span{
					font-size:18px;
					text-align:right;
					line-height: 20px;
					.small{
						font-size:14px;
						text-align:right;
						line-height: 20px;
						color:#aaa;
					}
				}
			}
		}
		.left2{

		}
	}
	.right{
		display:float;
		right:0;
		width:760px;
		margin-left:20px;
	}
}